<!--<div class="flex-container">-->
    <!--<div class="landing-page-container">-->
        <!--<div class="logo-container">-->
            <!--<img src="../../assets/img/ATBizza-Logo.png">-->
        <!--</div>-->
        <!--<div class="launch-screen-welcome">-->
            <!--<h1>Feeling Hungry?</h1>-->
            <!--<h3>Please login to Facebook to begin your pizza experience</h3>-->
            <!--<button class="btn btn-lg btn-social btn-facebook" style="font-size: 1.5em;" (click)="onFacebookLoginClick()">-->
                <!--<i class="fa fa-facebook fa-fw"></i>Login with Facebook-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
